* {
    box-sizing: border-box;
}
#card1 {
    height: auto;
    width:620px;
    border: 10px rgba(27, 53, 59, 0.822);
    border-style: solid;
    margin: 50px auto;
    display: none;
    
}
/*grCard.style.display = "inline-block";
    grCard.style.position = "relative";
    grCard.style.top = "58px";
    grCard.style.left = "10%";
    grCard.style.marginTop = "0";
    grCard.style.marginRight = "200px";
    btnText.innerHTML = "Hide Data";*/
#card1 div{
    

}

.card {width: 480px;
display: block; 
height: auto;
}
.card div {margin-bottom: 5px;}
.card-image {
    width: 35%;
    margin: 15px;
    float:left;
}
.booktitle {
    font-size: 30px;
}
.author {
    font-size: 16px;
}
.customerReviews {
    font-size: 12px;
    color: rgb(51, 51, 51);
}
#more {display: none;}

#moreInfo {
    color: blue;
    margin-bottom: 5px;
}
#addReview {
    display: block;
}

#card2 {
    display: none;
    margin: auto;
    height: auto;
    width:490px;
    border: 10px rgba(27, 53, 59, 0.822);
    border-style: solid;
    margin: 50px auto;

}
#bookIMG{
    float: left;
    width: 150px;
}
#card3 {
    display: none;
    margin: auto;
    height: auto;
    width:490px;
    border: 10px rgba(27, 53, 59, 0.822);
    border-style: solid;
    margin: 50px auto;

}
@media (max-width: 1225px){
    #card1 {
        display: block;
    }
    #card2 {
        display: block;   
    }
    .card {
        margin: auto;
    }
    #moreInfo {
        display: none;
    }
    body {width: 100%;}
}
@media (max-width: 500px) {
    #card1 {
        width: 85%; 
        margin: 0;
    }
    #card2 {
        width: 90%; 
        margin: 0;
    }
    img {
        width: 100%;
        height: auto;
    }
    
    .card {
        width:100%; 
        margin: 0;
    }
}
    
    
/* ===== Header ===== */
header {
    border-bottom: 5px solid darkslategray;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    background-image: url("paper-image.jpg");
    background-position: center;
}

.header-container {
    display: inline-block;
}

.central-container {
    width: 600px;
    margin: auto;
}

header h1 {
    color: black;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    font-size: 48px;
    font-family: fantasy;
}

.search-bar {
    text-align: center;
}

.search-button {
    font-weight: bold;
    font-family: fantasy;
    padding: 15px;
    width: fit-content;
    border-radius: 30px 15px;
    background-color: peru;
    color: white;
    font-size: 18px;
    padding-bottom: 10px;
    box-shadow: 0 3px olive;
    transition-duration: 0.3s;
}

.search-button:hover {
    background-color: burlywood;
    color: sienna;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.search-button:active {
    background-color: peru;
    color: white;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

input {
    text-align: center;
    font-family: fantasy;
}

input.search-query {
    font-family: fantasy;
    color: black;
    font-weight: bolder;
    letter-spacing: .5px;
}


#moreInfo {
    font-weight: bold;
    font-family: fantasy;
    padding: 15px;
    width: fit-content;
    border-radius: 30px 15px;
    background-color: peru;
    color: white;
    font-size: 18px;
    padding-bottom: 10px;
    box-shadow: 0 3px olive;
    transition-duration: 0.3s;
}

#moreInfo:hover {
    background-color: burlywood;
    color: sienna;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#moreInfo:active {
    background-color: peru;
    color: white;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}


.header-clear {
    clear: both;
}
/*=====Carousel======*/

    

